.cart-display {
  margin-top: 50px;
  color: #383838;
}

.title-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.title-row-small {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
}

.cart-item {
  margin: 10px 0;
}

.cart-item-small {
  margin: 25px 0;
}

.title-row-text {
  font-size: max(1.2vw, 16px);
  font-weight: 500;
}

.cart-item-text {
  display: flex;
  font-size: max(1vw, 14px);
  font-weight: 600;
  height: 44px;
  text-align: center;
  align-items: center;
}

.product-display {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-image {
  width: 50px;
  background-color: rgba(255, 160, 122, 0.3);
}

.product-image img {
  width: 100%;
}

.minus,
.plus {
  padding: 0 5px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-remove {
  cursor: pointer;
}

.cart-display hr {
  margin: 20px 0;
}

.total-price-container {
  font-size: max(1vw, 14px);
  font-weight: 500;
  width: max(30%, 200px);
}

.total-text {
  display: flex;
  justify-content: space-between;
}

.total-sek {
  font-weight: 400;
}

@media screen and (max-width: 750px) {
  .cart-item-text {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .title-row-text {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .cart-item-remove {
    display: none;
  }

  .title-row {
    grid-template-columns: 1.5fr 1fr 2fr 1fr;
  }

  .product-image {
    display: none;
  }
}
