@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

.welcome {
  display: flex;
  position: relative;
  margin: 30px auto;
  align-items: center;
  height: min(52vw, 75vh);
  min-height: 680px;
  width: 100%;
}

.welcome-text {
  font-size: 4.5vw;
  position: absolute;
  top: 20%;
  width: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: rotate(15deg);
  animation: fadeIn 2s;
}

.welcome-text h2,
.welcome-text span {
  font-family: Irish Grover;
}

.welcome-burger {
  width: min(80%, 800px);
  top: -17%;
  position: absolute;
  left: 40%;
  z-index: -1;
}

@media screen and (max-width: 850px) {
  .welcome {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    height: auto;
    min-height: 0;
    margin: 0;
    margin-bottom: 30px;
  }

  .welcome-burger {
    position: static;
    width: 100vw;
  }

  .welcome-text {
    position: static;
    font-size: 10vw;
    transform: rotate(0deg);
    width: 100%;
    text-align: center;
  }
}
