.favorites-wrapper {
  display: flex;
  flex-direction: column;
}

.favorites-title {
  text-align: center;
  font-weight: 400;
}

.favorites-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}

.favorites-hr {
  margin: 30px;
}

.favorites-empty {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 750px) {
  .favorites-list {
    grid-template-columns: 1fr 1fr;
  }
}
