.checkout {
  display: grid;
  grid-template-columns: 1.1fr 0.05fr 1fr;
  margin-top: 40px;
}

.checkout h2 {
  color: #383838;
}

.seperator {
  height: 100%;
  border: 1px dashed #383838;
  width: 1px;
}

.billing-inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 50px 0;
}

.billing-input {
  padding: 10px 20px;
  border: 2px solid #cdcdcd;
  border-radius: 5px;
  width: 90%;
  font-size: max(0.95vw, 12px);
}

.double-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
}

.payment-method {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 40px;
  margin-top: 20px;
}

.pay-with-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: max(12vw, 150px);
  border: 1px solid #383838;
  padding: 10px 30px;
  border-radius: 10px;
  color: #383838;
  cursor: pointer;
}

.pay-with-btn:hover {
  border: 4px solid #ffa07a;
  padding: 6px 26px;
}

.pay-with-btn.active {
  border: 4px solid #ffa07a;
  padding: 6px 26px;
}

.pay-with-btn img {
  width: 100px;
}

.card-inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 90%;
}

.card-first-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.card-second-row {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.pay-btn {
  color: #f8f8f8;
  font-size: 20px;
  font-weight: 600;
  background-color: #0275d8;
  border: none;
  padding: 5px 20px;
  width: max(12vw, 150px);
  border-radius: 5px;
}

.open-swish {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  padding-left: 40px;
}

.swish-logo {
  width: 70px;
}

.open-swish-btn {
  color: #f8f8f8;
  font-size: 20px;
  font-weight: 600;
  background-color: #0275d8;
  border: none;
  padding: 5px 20px;
  width: max(12vw, 180px);
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
  .checkout {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .checkout-cart,
  .seperator {
    display: none;
  }

  .billing-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .billing-input,
  .double-row {
    width: 100%;
  }
}
