.navbar-background {
  width: 100vw;
  height: 100px;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: #f8f8f8;
}

.navbar-links {
  display: flex;
  gap: 30px;
  font-weight: 500;
}

.navbar-logo {
  width: 100px;
}

.navbar-profiles {
  display: flex;
  gap: 15px;
  align-items: center;
}

.fa-icon {
  height: 20px;
}

.click {
  cursor: pointer;
}

.sign-in-btn {
  background-color: #ffa07a;
  border: none;
  padding: 8px 20px;
  color: #f8f8f8;
  font-weight: 400;
  border-radius: 5px;
}

.sign-in-btn:hover {
  background-color: #ff885a;
}

@media screen and (max-width: 700px) {
  .navbar-links {
    display: none;
  }
}
