.countdown-timer {
  font-family: "DigitalNumbers", "Courier New", Courier, monospace;
  font-size: 3rem;
  color: #f8f8f8;
  background-color: black;
  padding: 20px;
  border: 3px solid #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
